.task-box-visible {
  width: 734px;
  height: 737px;
  padding: 24px 32px;
  visibility: visible;
  opacity: 1;
  transition: width 0.3s ease-in, height 0.3s ease-in, visibility 0.1s ease-in 0s, opacity 0.1s;
}

.task-box-hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: width 0.1s ease-out, height 0.1s ease-out, visibility 0s ease-out 0.3s, opacity 0.1s;
}

.task-box-loading {
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-box-visible > div > .dropdown {
  margin-left: 96px;
}

.task-box-visible > div > .button-primary {
  padding: 0 16px;
}

.todo-check {
  margin-right: 16px;
  cursor: pointer;
}

.todo-container {
  margin-top: 16px;
}

.todo-container:not(:last-child) {
  border-bottom: 1px solid var(--color-primary-gray);
}

.todo-header {
  display: flex;
  justify-content: space-between;
}

.todo-date-container {
  justify-content: flex-end;
}

.task-container {
  overflow: auto;
  height: 90%;
  margin-top: 16px;
}

.task-pencil-icon {
  align-self: flex-start;
  margin-left: 32px;
  margin-right: 16px;
}

.task-clock-icon {
  align-self: center;
  margin-left: 32px;
  margin-right: 12px;
}

.task-calendar-icon {
  align-self: center;
  margin-left: 36px;
}

.todo-date-picker {
  border: 1px solid var(--color-primary-gray);
  border-radius: 4px;
  padding: 4px;
  display: flex;
}

.react-date-picker__wrapper {
  border: none !important;
}

.react-date-picker__calendar-button {
  display: flex;
}

.react-date-picker__calendar--open {
  margin-left: 136px;
  margin-top: 16px;
}

.react-calendar {
  border-radius: 4px;
  border-color: var(--color-primary-gray);
  padding: 16px;
}

.react-calendar button {
  color: var(--color-primary-dark-gray);
}