:root {
  font-family: 'Lato';

  --font-family-lato: 'Lato';
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;

  --color-primary-blue: #2f80ed;
  --color-primary-dark-gray: #4f4f4f;
  --color-primary-gray: #828282;
  --color-primary-light-gray: #e0e0e0;
  --color-primary-red: #eb5757;

  --color-indicator-purple: #8785ff;
  --color-indicator-orange: #f8b76b;
  --color-indicator-dark-gray: #333333;
  --color-indicator-gray: #c4c4c4;
  --color-indicator-light-gray: #f8f8f8;

  --color-chat-green: #43b78d;
  --color-chat-secondary-green: #d2f2ea;
  --color-chat-purple: #9b51e0;
  --color-chat-secondary-purple: #eedcff;
  --color-chat-orange: #e5a443;
  --color-chat-secondary-orange: #fceed3;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.text-bold-l {
  font-size: var(--font-size-l);
  font-weight: bold;
}

.text-bold-m {
  font-size: var(--font-size-m);
  font-weight: bold;
}

.text-bold-s {
  font-size: var(--font-size-s);
  font-weight: bold;
}

.text-regular-l {
  font-size: var(--font-size-l);
}

.text-regular-m {
  font-size: var(--font-size-m);
}

.text-regular-s {
  font-size: var(--font-size-s);
}

.m-0 {
  margin: 0 !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.color-primary-blue {
  color: var(--color-primary-blue);
}

.color-primary-dark-gray {
  color: var(--color-primary-dark-gray);
}

.color-primary-red {
  color: var(--color-primary-red);
}

.cursor-pointer {
  cursor: pointer;
}